# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
.env/
ENV/
env/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VSCode / IntelliJ / Mac
# =========================
.vscode/
.idea/
.DS_Store

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Vector Database / Embeddings
# =========================
vectorstore/
*.faiss
*.pkl

# =========================
# Logs
# =========================
*.log

# =========================
# Test / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Temporary Files
# =========================
*.tmp
*.temp

# =========================
# SQLite / Local DB
# =========================
*.db
*.sqlite3

# =========================
# Cache
# =========================
.cache/

# =========================
# Uploaded Documents
# =========================
data/*.pdf
data/*.docx
data/*.pptx

# =========================
# OS Files
# =========================
Thumbs.db